.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
frontend/ui/build/
frontend/ui/ios/.symlinks/
frontend/ui/ios/Flutter/App.framework
frontend/ui/ios/Flutter/Flutter.framework
frontend/ui/ios/Flutter/pod_install.log
frontend/ui/ios/Pods/
frontend/ui/ios/Runner.xcworkspace/
frontend/ui/ios/Runner/GeneratedPluginRegistrant.*

frontend/ui/windows/flutter/ephemeral
frontend/ui/windows/flutter/ephemeral.stamp
frontend/ui/windows/runner/Debug/
frontend/ui/windows/runner/Release/
frontend/ui/windows/runner/Profile/
frontend/ui/windows/runner/GeneratedPluginRegistrant.h
frontend/ui/windows/runner/GeneratedPluginRegistrant.cc
frontend/ui/windows/runner/flutter_window.h
frontend/ui/windows/runner/flutter_window.cpp
frontend/ui/windows/runner/utils.h
frontend/ui/windows/runner/utils.cpp
frontend/ui/windows/CMakeLists.txt.user

.metadata
frontend/ui/linux/flutter/generated_*.h
frontend/ui/linux/flutter/generated_*.cc
frontend/ui/linux/flutter/generated_*.cmake
frontend/ui/macos/Flutter/GeneratedPluginRegistrant.swift
frontend/ui/windows/flutter/generated_*.h
frontend/ui/windows/flutter/generated_*.cc
frontend/ui/windows/flutter/generated_*.cmake

*.suo
*.user
*.userosscache
*.sln.docstates
*.dll
*.pdb
*.exe

backend/__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
backend/cache

.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.iml
.DS_Store

frontend_ui/lib/config/api_config.dart
frontend/ui/README.md
